# virtual environment
.venv/
# .env
.env
# Python cache
__pycache__/
**/__pycache__/
*.pyc
# ignore all log files and log directories
*.log
logs/
**/logs/
Module4/dataset_creation/logs/
# wandb
Module5/ppo/wandb/